bin/Debug/net7.0/InternalManagement.dll
bin/Debug/net7.0/InternalManagement.pdb
obj/Debug/net7.0/InternalManagement.dll
obj/Debug/net7.0/InternalManagement.pdb
obj/Debug/net7.0/ref/InternalManagement.dll
obj/Debug/net7.0/refint/InternalManagement.dll
